.dropdown {
  position: relative;
  
  &:hover {
    opacity: 1;
  }
}

.dropdown--content {
  position: absolute;
  z-index: 99;
  margin-top: 30px;
  padding: 0px 10px 10px 10px;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;

  a {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
  }
}