nav {
  padding-bottom: 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;

  header {
    // margin-right: 50px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0px 0px 0px 0px;
  }

  h2 {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  li {
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    user-select: none;
    padding: 10px 10px;

    &:hover {
      opacity: 0.7;
    }
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-wrap: wrap;

    ul {
      flex-wrap: wrap;
    }
  }
}

