.nav--mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  height: 110vh;
  z-index: 99;
  
  ul {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 20px;
    gap: 16px;
  }

  li {
    padding: 0;
  }

  .nav--mobile-sub {
    margin-left: 20px;
  }
}

.nav--mobile-open, .nav--mobile-close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.nav--mobile-links {
  
}

// CSSTransition
.nav--mobile-enter {
  transform: translateX(70vw);
}
.nav--mobile-enter-active {
  transform: translateX(0);
  transition: all 200ms linear;
}
.nav--mobile-exit {
  transform: translateX(0);
}
.nav--mobile-exit-active {
  transform: translateX(70vw);
  transition: all 200ms linear;
}

@media screen and (max-width: 600px) {
  .nav--mobile-open, .nav--mobile-close {
    display: flex;
  }

  .nav--mobile {
    display: flex;
    flex-direction: column;
  }
}

