.photos {
  min-height: 100%;
  position: relative;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0px 0px 0px;
  
  overflow: hidden;
  
  li {
    height: 20vh;
    flex-grow: 1;
  }
  
  li:last-child {
    flex-grow: 10;
  }
  
  .image-small {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
    transition: 300ms;
    
    &:hover {
      filter: saturate(105%) contrast(105%) brightness(115%);
    }
  }
}

// Responsiveness
@media screen and (max-width: 900px) {
  .photos {
    li {
      height: 30vw;
    }
  }
}