.photos {
  min-height: 100%;
  position: relative;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0px 0px 0px;
  
  overflow: hidden;
  
  li {
    height: 20vh;
    flex-grow: 1;
  }
  
  li:last-child {
    flex-grow: 10;
  }
  
  .img-small {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
    transition: 600ms;
    
    &:hover {
      filter: saturate(130%) contrast(130%) opacity(80%);
    }
  }
}

.img-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-animation: fade-in 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 400ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
  .img-large {
    height: 70vh;
  }
  
  figcaption {
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .img-nav {
    position: absolute;
    bottom: 7rem;
    left: 50;
    right: 50;
    margin: 0;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    
    span {
      margin: 0px 10px;
      
      &:hover {
        opacity: 0.7;
      }
    }
    
  }
  
  .img-modal--close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    
    &:hover {
      opacity: 0.7;
    }
  }
}

// animation

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Responsiveness
@media screen and (max-width: 600px) {
  .photos {
    li {
      height: 30vw;
    }
  }
  
  .img-modal {
    .img-large {
      height: auto;
      max-width: 90vw;
    }
  }
}